{{ with .Site.Params.venue }}
    <!-- Venue -->
    <section id="venue" class="container">
      <div class="row">
                {{ if .coords }}
                <a href="https://www.openstreetmap.org/#map={{ .mapboxzoom }}/{{ .coords.latitude }}/{{ .coords.longitude }}" target="_blank">
               <img class="image main" src="https://api.mapbox.com/v4/mapbox.{{ .mapboxstyle }}/pin-l-triangle+eb791f({{ .coords.longitude }},{{ .coords.latitude }})/{{ .coords.longitude }},{{ .coords.latitude }},{{ .mapboxzoom }}/800x300@2x.png?access_token={{ .mapboxpublictoken }}"
                    alt="{{ .name }}">
                </a>
                {{ end }}
              </div>
              <div class="venueadress">
                <h4>{{ .name }}</h4>
               <p>
                 {{ .street}}<br>
                  {{ if and .room .roomurl }}
                  <a href="{{ .roomurl }}" target="_blank">{{ .room }}</a>
                    {{ else }} {{ .room }}
                   {{ end }}
                  <br/> {{ .zipcode }} {{ .city }}
                  <br/> {{ .country }}
                </p>
                {{ if .coords }}
                  <p class="small"><a href='https://www.mapbox.com/map-feedback/'>© Mapbox</a>
                  <br/> <a href='https://www.openstreetmap.org/copyright'>© OpenStreetMap contributors</a></p>
                {{ end }}
        </div>
    </section>
{{ end }}